
<button class="btn btn-light btnfeed" style=" transform: rotate(90deg); border:2px solid black; ">
        Feedback
 </button>

 


 <style>
    .btnfeed:hover{
        background-color:black;
        color: white;
    }
 </style>
