

  <div class="sidebar" style="display:flex; justify-content:center;align-items:center;position:fixed; width: 55px; background-color:transparent; background-image:none; height: auto; margin-top:25vw;">
<button class="btn btn-light btnfeed" style=" transform: rotate(90deg); border:2px solid black; ">
        Feedback
 </button>

 </div>

 


 <style>
    .btnfeed:hover{
        background-color:black;
        color: white;
    }
 </style>
