@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar" style="display:flex; justify-content:center;align-items:center;position:fixed; width: 55px; background-color:transparent; background-image:none; height: auto; margin-top:25vw;">
        <FeedbackComponent/>
    </div>

    <main>
        
            @Body
       
    </main>
</div>
